.films {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
    max-width: 90vw;
    margin: 0 auto;
    padding: 0;
}

.film {
    margin: 1em 0.5em;
    text-align: center;
}

.film__text {
    font-size: .9rem;
    word-break: break-all;
}

.film__poster, .film__no-poster {
    height: 17em;
    width: 11em;
}

.film__no-poster {
    display: inline-block;
    background-color: #ccc;
}

.film__no-poster__text {
    line-height: 17em;
    vertical-align: middle;
    text-transform: uppercase;
}

.search {
    background-color: orange;
    padding: 0.5em 0;
    text-align: center;
}

.search__input {
    margin-right: 0.5em;
    border: none;
    height: 2em;
    width: 15em;
    padding-left: 0.2em;
    transition: all 0.5 ease-in;
    border: 1px solid orange;
    background-color: orange;
    border-bottom: 1px solid black;
}

.search-body {
    margin: 0 auto;
    max-width: 15em;
    position: relative;
}

.search__button {
    position: absolute;
    top: 20%;
    right: 4em;
    border: none;
    background-image: url(img/search.svg);
    background-size: contain;
    height: 1.2em;
    width: 1.2em;
    background-color: orange;
}

.search__button:hover {
    cursor: pointer;
}

.pages {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    max-width: 20vw;
    margin: 1em auto;
    text-align: center;
}

.pages__active-page {
    background-color: orange;
    padding: 0.2em;
    border-radius: 5px;
}

.pages__element {
    background-color: #ddd;
    padding: 0.2em;
    border-radius: 5px;
}

.pages__element:hover, .pages__active-page:hover {
    cursor: pointer;
}

.pages__unactive-arrow {
    background-color: #ccc;
}

.pages__active-arrow {
    background-color: orange;
}

.pages__active-arrow:hover {
    cursor: pointer;
}

.pages__active-arrow, .pages__unactive-arrow {
    padding: 0.2em;
    border-radius: 5px;
}
